 
img{
    width: 45px;
    height: 45px;
}
img:hover
{cursor: pointer;}
/* th
{
    background-color: #0d6efd;
    width: 100px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
    color: aliceblue;

}
 td{
     border: 1px solid black;
    border-radius: 3px;

 }
 
table
{
    background-color: #eef3f8;
 border-collapse: separate; 
    border-radius: 3px;
} */
#list
{
    max-height: 300px;
    overflow: auto;
}